body{
background-image: url(Imagens1.jpg);
background-position: center;
background-color: rgb(175, 230, 177);
background-size: cover;
margin: 5%;
}
.Menu{
text-align: center;
position: fixed;
background-color: rgb(216, 128, 27);
width: 100%;
margin-top: 0px;
top: 0px;
z-index: 10;
}
.links{
    display: inline;
    padding-left: 40px;
    padding-right: 40px;
    padding-left: 100px;
    font-size: 2rem;
    font-family: cursive;
}
a{
color: black;
text-decoration: nome;
}
.links:hover{
    text-decoration: underline;
    font-size: 20px;
}
a:hover{
    color: rgb(188, 188, 188);
}